{% extends "default/_layouts/base" %}

{% block body %}

<!-- Wrapper -->
<div class="wrapper grid-y align-justify" data-off-canvas-content>

{% block navigation %}
{% endblock %}

<div class="swup-transition-fade" id="swup-body">
{% block videos %}
{% endblock %}

{% block main %}
{% endblock %}
</div>

{% block footer %}
{% endblock %}
</div>

<!-- Navigation -->
{% include "_includes/reveal/navigation" %}
<!-- End Navigation -->
{% endblock %}