{% extends "default/_layouts/base" %}

{% block body %}

<!-- Wrapper -->
<div class="wrapper grid-y align-justify viewheight" data-off-canvas-content>

<!-- Header -->
{% include "_includes/global/navigation" %}
<!-- End Header -->

{% block main %}
{% endblock %}

<!-- Header -->
{% include "_includes/global/footer" %}
<!-- End Header -->

</div>
<!-- End Wrapper -->

<!-- Navigation -->
{% include "_includes/reveal/navigation" %}
<!-- End Navigation -->

{% endblock %}