<!-- Header -->
<footer class="grid-x grid-padding-x grid-padding-y align-center align-middle footer">

  <div class="small-11 cell text-center text-uppercase">
    <a href="/contact" class="medium-gray">
      © {{ "now"|date("Y") }} London, UK
    </a>
  </div>

</footer>
<!-- End  Header -->
