<div class="item">
	<a href="{{ project.url }}">
        <img data-interchange=
        "
        [{{ project.image | imgix_url: w: 640, h: 360, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 2}}, small]
        [{{ project.image | imgix_url: w: 800, h: 450, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 40, fit: "crop", dpr: 2}}, medium]
        [{{ project.image | imgix_url: w: 1600, h: 900, fit: "max", auto: "format", auto: "compress", lossless: "true", q: 50, fit: "crop", dpr: 1}}, large]
        "
		data-aos="fade-in"
        >
		<div class="item__title" data-aos="fade-in">{{ project.title }}</div>
	</a>
</div>