{% set bodyClass = 'home' %}

{% extends "default/_layouts/site" %}

{% block main %}


<div class="project-container">
  <div class="grid-y align-center" style="height: 100vh;">


    <div class="grid-x grid-padding-x align-center">
      <div class="small-12 medium-6 cell text-center">
      
      <div class="flex-video">
        <video src="https://player.vimeo.com/external/48454530.hd.mp4?s=53708dabb8498263b52937f76045ae3b22cad1b9&profile_id=119" poster="" autoplay="1" loop="1" muted="" playsinline="" preload="auto" class="loop"></video>
      </div>
      
      </div>
    </div>
  
  </div>
</div>


<!-- Wrapper -->
<div class="wrapper grid-y align-justify" data-off-canvas-content id="container">


<div id="blocks">
<!-- Header -->
{% include "_includes/global/navigation" %}
<!-- End Header -->

<div class="swup-transition-fade" id="swup-body">
<!-- Layout -->
  <div class="grid-x grid-padding-x">
    
    {% set projectsQuery = entry.projects.all() %}
    {% for project in projectsQuery %}
      <div class="small-12 cell text-center">
        {% set item = project.project.one() %}
        <a href="{{ item.url }}">
          <div class="h1 text-uppercase margin-bottom-0">{{ item.project }}</div>
        </a>
      </div>
    {% endfor %}
  
  </div>
<!-- End Layout -->
</div>

<!-- Header -->
{% include "_includes/global/footer" %}
<!-- End Header -->

</div>
<!-- End Wrapper -->

</div>

{% endblock %}
