{% set bodyClass = 'home' %}

{% extends "default/_layouts/site" %}


{% block videos %}
  <div class="grid-y align-center project-container">
    <div class="grid-x grid-padding-x align-center">
      <div class="small-12 medium-6 cell text-center">
      
      <div class="flex-video">
        <video src="https://player.vimeo.com/external/48454530.hd.mp4?s=53708dabb8498263b52937f76045ae3b22cad1b9&profile_id=119" poster="" autoplay="1" loop="1" muted="" playsinline="" preload="auto" class="loop"></video>
      </div>
      
      </div>
    </div>
  </div>
{% endblock %}


{% block navigation %}
<div id="blocks">
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}
<div class="grid-x grid-padding-x">
  
  {% set projectsQuery = entry.projects.all() %}
  {% for project in projectsQuery %}
    <div class="small-12 cell text-center">
      {% set item = project.project.one() %}
      <a href="{{ item.url }}">
        <div class="h1 text-uppercase margin-bottom-0">{{ item.project }}</div>
      </a>
    </div>
  {% endfor %}

</div>
{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
</div>
{% endblock %}

