@font-face {
  font-family: 'GT America Condensed Bold';
  src: 
  url('../fonts/gt-america-condensed-bold.woff2') format('woff2'), 
  url('../fonts/gt-america-condensed-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GT America Condensed Regular';
  src: 
  url('../fonts/gt-america-condensed-regular.woff2') format('woff2'), 
  url('../fonts/gt-america-condensed-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}