{% set bodyClass = 'info' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Copy -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

{% endblock %}