@font-face {
  font-family: 'Futura Std Condensed Extra Bold';
  src: 
  url('../fonts/futura-std-condensed-extra-bold.woff2') format('woff2'), 
  url('../fonts/futura-std-condensed-extra-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura Std Book';
  src: 
  url('../fonts/futura-std-book.woff2') format('woff2'), 
  url('../fonts/futura-std-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}