---
layout: compress
---

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body>
  
{% if page.layout == "home" %}
<div class="grid-y align-center loader">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x align-center">
    	<div class="shrink cell" data-aos="fade-up">
    		<h1>{{site.title}}</h1>
    	</div>
    </div>
  </div>
</div>
{% endif %}

<!-- Mobile Navigation -->  
{% include navigation--mobile.html %}
<!-- End Mobile Navigation --> 
  
<!-- Navigation -->
{% include navigation.html %}
<!-- End Navigation -->

<!-- Content -->
<div class="wrapper grid-y align-left {{page.layout | slugify}} {% if page.layout == "project" %}align-center{% endif %}"  data-aos="fade-in">
  {{content}}
</div>
<!-- End Content -->

<!-- Footer -->
{% include footer.html %}
<!-- End Footer-->

<!-- Scripts -->
{% include scripts.html %}
<!-- End Scripts -->

<!-- Google Analytics -->
{% if site.analytics %}
{% include analytics.html %}
{% endif %}
<!-- End Google Analytics -->

</body>

</html>