---
layout: default
---

<!-- Content -->

<div class="grid-x grid-padding-x grid-padding-y" data-aos="fade-in">

<!-- Previous -->
<div class="medium-2 cell show-for-medium project__pagination">
  {% if page.next.url %}
  <a href="{{page.next.url}}">
    <div class="grid-y align-center" style="height: 100%;">
      <div class="shrink cell text-center">Previous</div>
    </div>
  </a>
  {% endif %}
</div>
<!-- End Previous -->

<!-- Center -->
<div class="small-12 medium-8 cell">
  <div class="grid-y align-center" style="height: 100%;">
    <div class="shrink cell">

<!-- Video -->
<div class="grid-x grid-padding-x align-center">
  <div class="auto cell">
  	<div class="responsive-embed widescreen">
  	   <iframe src="https://player.vimeo.com/video/{{ page.vimeo }}?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  	</div>
  </div>
</div>
<!-- End Video -->

<!-- Credits -->
<div class="grid-x grid-padding-x align-center">
  <div class="small-12 cell text-center">
  
  <h1>{{ page.title }}</h1>
  
  {% if page.director %}
  <div class="project__credits">Director — {{ page.director }}</div>
  {% endif %}
  
  {% if page.production-company %}
  <div class="project__credits">Production Company — {{ page.production-company }}</div>
  {% endif %}
  
  </div>
</div>
<!-- End Credit -->

<!-- Mobile Pagination -->
{% if page.previous.url %}
<div class="grid-x grid-padding-x align-center show-for-small-only">
  <div class="shrink cell text-center">
    <hr>
    <a href="{{page.previous.url}}">Next</a>
  </div>
</div>
{% endif %}
<!-- End Mobile Pagination -->
      
      
      
    </div>
  </div>
</div>
<!-- End Center -->

<!-- Next -->
<div class="medium-2 cell show-for-medium project__pagination">
  {% if page.previous.url %}
  <a href="{{page.previous.url}}">
    <div class="grid-y align-center" style="height: 100%;">
      <div class="shrink cell text-center">Next</div>
    </div>
  </a>
  {% endif %}
</div>
<!-- End Next -->

</div>   
<!-- End Content -->